[2019-11-04 10:41] packnology opened #4 "MQTT module: SSL connection fails"
Sorry, not sure if this is the right place to post this. I have added a topic to the Elastic forum on this issue here: https://discuss.elastic.co/t/machinebeat-mqtt-module-ssl-connection-to-broker-fails/206369 . Please let me know if this might be a bug in the module.

[2019-11-05 08:14] felix-lessoer commented on #4
@packnology Thanks for raising the issue. I will check this. The SSL has only be tested with Cloud Service providers so far. Will create another test with mosquitto broker.
I assume it does work without SSL?

[2019-11-06 06:54] packnology commented on #4
Thanks, yes it does work without SSL. I was able to bridge the SSL to
non-SSL with an intermediary MQTT broker.

On Tue, Nov 5, 2019 at 9:14 PM Felix <notifications@github.com> wrote:

[2019-11-06 10:30] felix-lessoer commented on #4
@packnology I believe I found the issue you ran into. In the current version you have to add the protocol to the host parameter. Otherwise it assumes that you are using non SSL connection. Even if you set ssl: true.

e.g. host: "tcps://test.mosquitto.org:8883" works fine, but host: "test.mosquitto.org:8883" does not.
I will add a check for this behavior.

Let me know if this solves also your issue

[2019-11-06 17:40] packnology commented on #4
Thanks Felix, I added the protocol to the host and it worked perfectly.
Thanks for your help!

On Wed, Nov 6, 2019, 11:30 PM Felix <notifications@github.com> wrote:

[2019-11-15 09:24] shettydprasad opened #5 "OPC UA Connection"
I am testing machine beat for OPC UA communication with kepware opc UA server. I am successfully transferred one tag data to elastic search. But, If I configure more than one tag only last tag configured in yml file is transferring to elastic. Please help me out to solve this issue. Please find attached yml file.
[opcua.zip](https://github.com/elastic/Machinebeat/files/3850734/opcua.zip)

[2019-11-22 13:01] raj885 opened #6 "username and password in opcua.yml"
Hi,
I am trying to ingest data from OPC-UA to Elasticsearch. I wonder how to  pass username and password in the opcua.yml. I tried by giving simply username and password, however it is not working. Please let me know if it is possible

- module: opcua
  metricsets: ["nodevalue"]
  enabled: true
  period: 2s
  endpoint: "opc.tcp://{server}:port"
  username: "username"
  password: "password"

[2019-12-06 14:22] PredictiveDataScience commented on #5
Hallo shettydprasad,
How did you solved this issue? Because I have the same problem with machinebeat. If I configure more than one tag, only the last one tag from config file yml is transferred to elasticsearch.
Thank you so much.
Lukas

[2019-12-06 17:12] shettydprasad commented on #5
Hello Lukas
The stated problem is still exists..! I thought i am configuring some thing wrong So i closed issue.! I used MQTT yml file for my testing instead OPC UA.
I am reopening this issue..!

[2019-12-07 09:32] #4 closed

[2019-12-07 12:39] felix-lessoer commented on #5
@shettydprasad & @PredictiveDataScience : It should work now with multiple elements in the array. Can you verify, pls?

[2019-12-08 22:14] PredictiveDataScience commented on #5
Hello @felix-lessoer,
I downloaded and tested a new build version of the module (7.5) for windows,  but the issue still persists...
I downloaded machinebeat 7.5 from this link:
https://drive.google.com/file/d/15tpgO0Z1pT948mprovtOdTcSQNt5VCY2/view
I can´t see any changes in builded files (in github master branch changes were made)... but file date modified of machinebeat.exe in builded version is

[2019-12-09 07:32] felix-lessoer commented on #5
@PredictiveDataScience Thanks for letting me know. Took the wrong binary for the windows build. Now the windows version should be working as well.

[2019-12-09 09:20] PredictiveDataScience commented on #5
Hello @felix-lessoer ,
I tested the newest version, but there is a new error. I used the same configuration files (machinebeat.yml and opcua.yml) and tested 2 OPC UA endpoints, but the same error. (The old version with this endpoint worked well). Please check it again.
Thank you so much.

[code]

opcua.yml configuration
[code]

[2019-12-09 09:56] felix-lessoer commented on #5
This is including security capabilities now.
Try to set policy: "" like this to ignore the security policies.

[code]

[2019-12-09 11:48] PredictiveDataScience commented on #5
Thank you @felix-lessoer,
everything works fine.
It works now with multiple elements in the array and also connection to endpoint works great with `policy: ""`
Issues is solved.
I look forward to more features.
Best regards,
Lukas

[2019-12-10 07:54] shettydprasad commented on #5
Its working as expected.. Thank you

[2019-12-10 07:54] #5 closed

[2019-12-13 10:42] markusTh83 opened #7 "cannot find suitable endpoint error"
Hi,

I am trying to connect to an OPC-UA Server, but without success. When I try to connect via (string) Hostname, I get an '_cannot find suitable endpoint_' error:

[code]

And when I try to connect via IP I get

[code]

The yml file contains

[code]

and the node settings with IDs and labels.

Via UaExpert the connection is successful. Is this an issue or a config problem?

Kind regards,

Markus

[2019-12-13 11:20] felix-lessoer commented on #7
Hey Markus,

thanks for raising this issue.
Can you tell me which kind (implementation) of OPCUA server you are using?

Would like to reproduce that problem on my local machine.

[2019-12-13 11:49] felix-lessoer commented on #6
Security for OPC-UA is now added to the module. Would be great if you can check that its work for you.

[2019-12-13 11:49] #6 closed

[2019-12-13 11:51] felix-lessoer commented on #7
@markusTh83 Can you check the latest version? I added security now and improved the endpoint detection.

[2019-12-16 08:38] markusTh83 commented on #7
@felix-lessoer
I've updated my post from Friday, had an C&P error.
I will check the latest version, thougt I've already had it.

[2019-12-16 08:53] markusTh83 commented on #7
I've downloaded the actual version and tried again (with the Server Name as string, the IP to string resolution fails with the same error):

[code]

[2020-03-18 11:00] felix-lessoer commented on #7
This happens when the certificates are not set according to the setup of the server.
Be careful to set policy, mode and certification info based on your server settings.

This is an example configuration incl. security:
[code]

[2020-03-18 11:00] #7 closed

[2020-04-07 15:00] cskowronnek opened #8 "opcua module label not set correctly"
[code]

Thats my node configuration in opcua module because the discovery does not work. However, only the last label is applied to all of the nodes. Is this a bug?

Kind regards
Conrad

[2020-04-07 15:32] felix-lessoer commented on #8
Hi Conrad,

I will check this label thing locally.
Can you tell me in the meantime why the node discovery is not working for you?

Would be nice to have some logs. The discovery mode is a new feature ..

Thanks
Felix

[2020-04-07 15:45] cskowronnek commented on #8
Hi Felix,

I think discovery does not work because it can't find endpoints. The Loytec Gateways has a local WAN IP and I access it via Public IP + NAT.
When I connect using UaExpert a message appears, that UaExpert replaces the private ip with the public ip to find the endpoints. I'll try it in the local network tomorrow and will report back if it works there.

[2020-04-07 15:59] cskowronnek opened #9 "opcua.nodevalue.value can only handle one data type"
I read several numeric values from our OPC-UA gateway which works fine. All values get written on opcua.nodevalue.value and I can filter bei node id or  opcua.node.Name.
If add a node which has a non-numerical data type (e.g. string) it won't index the data because the Elastic mapping for opcua.nodevalue.value is already set to type:long.

It would be good to have a way to handle different data ty

[2020-04-07 16:14] cskowronnek commented on #8
regarding discovery:

[code]

[2020-04-07 18:59] felix-lessoer commented on #8
I've uploaded a new version. For me the labels are now working fine.

The discovery is also working fine. The last log line you shared is expected. There should be something more after that. Could you share more?

[2020-04-07 19:03] felix-lessoer commented on #9
I now changed the name of the value field. The field name contains the data type. This way the automatic elastic mapping will work fine even with different data types.

Is it now working for you?

[2020-04-08 10:18] cskowronnek commented on #8
[code]

Just tried it locally and it didn't find anything. I tried with the zip-release and not with your latest commits. I'll set up a build environment later and try your patch

[2020-04-08 10:42] felix-lessoer commented on #8
In the zip file there is already the latest version. So no need to set up your own environment.
The problem with the discovery is that it tries to find sth. in the Object folder but this seems to be empty. The object folder is the one the beat takes as root.
You can also use any root folder of your choice. The browsing will start from that point.

[2020-04-08 11:00] cskowronnek commented on #8
I tried several different subfolders and there is an Object folder with node id 85. I could not see any anomalies when using UAexpert

[2020-04-08 12:01] felix-lessoer commented on #8
Well, thats definitely not the expected behavior.
But can you confirm that the subscription to the nodes works . Also with the right labeling of the nodes in Kibana?

[2020-04-08 15:36] cskowronnek commented on #8
Subscription to explicitly configured nodes works fine and the labels are now correct too.

[2020-04-08 15:36] #8 closed

[2020-04-08 15:36] cskowronnek commented on #9
Data types are now on individual fields. I have int32 and float64 at the moment and will test with string later.

[2020-04-09 07:33] cskowronnek opened #10 "No reconnect after connection to OPC server is lost"
Machinebeat does not reconnect to the OPC nodes when the connection to the OPC server is interrupted. It states "Published 0 events" forever.

[2020-04-09 09:04] cskowronnek opened #11 "opcua: subscribe=false leads to ES error"
We need the data time continuously through time so I set subscribe to false. When Logstash tries to write the data to ES I get an error.

`[2020-04-08T11:18:56,291][WARN ][logstash.outputs.elasticsearch] Could not index event to Elasticsearch. {:status=>400, :action=>["index", {:_id=>nil, :_index=>"machinebeat-opcua-2020.04",
:routing=>nil, :_type=>"_doc"}, #<LogStash::Event:0x450bf4f9>], :respons

[2020-04-09 09:25] cskowronnek commented on #9
String works also fine

[2020-04-09 09:25] #9 closed

[2020-04-09 10:17] felix-lessoer commented on #11
Oh this is probably a issue based on the change with the data type in field name. The data type is not extracted in the non subscribe mode. As this is a different method in OPC UA Framework.

[2020-04-09 10:46] cskowronnek commented on #11
[code]
Yep I found it now. The field name is empty

[2020-04-12 10:32] felix-lessoer commented on #10
This should be fixed now. There will be a reconnect whenever there are multiple 0 publish events in a series.

[2020-04-12 10:32] felix-lessoer commented on #11
This is fixed now.

[2020-04-14 08:03] cskowronnek commented on #11
It works now. Thank you very much

[2020-04-14 08:03] #11 closed

[2020-04-14 08:07] cskowronnek opened #12 "OPC-UA browsing doesn't work"
I reopen this as a new issue after discussing it in another issue. Browsing does not work on our Gateway. Subscribing to explicitly configured nodes works and browsing also works in UAexpert.

Debug log:
[code]

[2020-04-14 08:08] cskowronnek commented on #10
Tested manually. Seems to work. Thank you very much

[2020-04-14 08:08] #10 closed

[2020-04-14 09:30] felix-lessoer commented on #12
Could you share more information about the OPC UA Server implementation that you are using? Using my test server everything works as expected.

[2020-04-14 10:56] cskowronnek opened #13 "segfault with 7.6.2"
I got a segfault after ~40 minutes with the new version

[code]

[2020-04-14 10:58] cskowronnek commented on #12
It's a Loytec LGATE-902

[2020-04-15 17:46] cskowronnek opened #14 "Can't build Machinebeat from source"
First I changed beats version in go.mod from v7.6.1 to v7.6.2+incompatible because it couldn't find 7.6.1
I also had to create a "v7" folder under /src.../beats and copy the libbeat folder into it because it couldn't find the sources.
I'm now stuck here (btw: what to enter for module name and metricset?)

[code]

[2020-04-15 18:14] felix-lessoer commented on #12
I changed the browsing parameter a bit in the latest version. Could you check how it works now for your OPC UA Server?

[2020-04-15 18:15] felix-lessoer commented on #13
During the last update I missed to handle one error. This was leading to that error and should be fixed now.

[2020-04-15 18:19] felix-lessoer commented on #14
You don't need to create a new metricset . So make create-metricset is not necessary.
If you would like to build it, just go into the machinebeat folder and use `go build` .. You may need to load the dependencies. Thats enough for now.

[2020-04-16 08:42] cskowronnek commented on #12
I still see the same behavior with 7.6.3

[2020-04-16 09:29] felix-lessoer commented on #12
I also added additional debug logging. Could you share debug logs?

[2020-04-17 07:13] cskowronnek commented on #12
[code]

[2020-04-17 07:18] cskowronnek commented on #13
I still got several segfaults with 7.6.3. I'll collect some debug logs next time it happens.

[2020-04-17 09:48] cskowronnek commented on #13
[code]

[2020-04-17 09:59] felix-lessoer commented on #12
This is a helpful log. Thanks. I will try to find a solution.

[2020-04-17 11:57] felix-lessoer commented on #13
You can give it another try :)

[2020-04-18 09:18] cskowronnek commented on #13
Running stable for 15 hours at the moment

[2020-04-19 09:06] cskowronnek commented on #13
Got a segfault after 36 hours
[code]

[2020-04-20 10:07] felix-lessoer commented on #13
This is an error in the underlaying lib. But I will try to prevent the beat from crashing when this happens.

[2020-04-20 12:01] felix-lessoer commented on #13
I got this working. So the beat can recover from any panic now. If that happens the beat will reconnect.

[2020-04-20 17:52] cskowronnek commented on #13
Got this with 7.6.5:
[code]

[2020-04-21 11:39] felix-lessoer commented on #13
This happens when the connection is already closed due to the panic. I now added a check for that. So you should not see this again.

[2020-04-22 10:22] cskowronnek commented on #12
I also tried with endpoint: "opc.tcp://opcuademo.sterfive.com:26543", which works fine.
But on server  "opc.tcp://opcua.rocks:4840/" I get this. It looks like the endpoint points to localhost:4840. Many OPCUA servers show this gap between public IP and internal hostname. UAexpert handles this with replacing the endpoint names with the public hostname.

[code]

[2020-04-22 17:54] felix-lessoer commented on #12
I just made a test against this server and it works as expected. Based on your logs it looks like you have configured `opc.tcp://localhost:4840` to be the endpoint. This log entry will created directly from the config parameters.

This is the result in my log:
[code]

[2020-04-22 18:04] cskowronnek commented on #12
This is indeed strange. I configured endpont:  "opc.tcp://opcua.rocks:4840/
localhost:4840 is also what UAexpert shows as the endpoint on a Windows PC. I also tried to resolve opcua.rocks and using the IP address I got the same behavior.

[2020-04-22 18:10] felix-lessoer commented on #12
Can you share your configuration? And are you sure that you only have 1 enabled configuration?

[2020-04-24 13:16] cskowronnek opened #15 "ARM build"
We would like to run Machinebeat on a Raspberry Pi 4. Is it possible to cross compile for ARM8?

[2020-04-24 19:21] felix-lessoer commented on #15
Just build it for ARM8. Could you check that it is working for you?
https://ela.st/machinebeat-arm

[2020-04-25 07:24] felix-lessoer commented on #14
Can we close this one?

[2020-04-25 07:25] felix-lessoer commented on #13
Can we close this one?

[2020-04-25 09:41] cskowronnek commented on #15
Unfortunately our RPi 4 is still running on a 32-bit kernel as the 64-bit kernel is still experimental. Could you build a 32-bit ARM version as well?
[code]

[2020-04-25 09:42] cskowronnek commented on #14
Yes, I thin so.

[2020-04-25 09:42] #14 closed

[2020-04-25 09:43] cskowronnek commented on #13
Yes, it runs fine now.

[2020-04-25 09:43] #13 closed

[2020-04-25 09:55] cskowronnek commented on #12
My bad. I had a typo and wrote endpont instead of endpoint in the config. It works with this server now, too.

[2020-04-25 11:51] felix-lessoer commented on #15
I used ARM8 based in this documentation:
https://github.com/golang/go/wiki/GoArm

ARM7 seems to be for 32bit

[2020-04-25 13:27] felix-lessoer commented on #15
Same link but it contains the arm7 version now.

[2020-04-25 13:33] cskowronnek commented on #15
Thanks! The binary runs. I'll ship it to our test device and see if it runs stable

[2020-04-28 09:34] cskowronnek commented on #15
The build runs stable on two Raspberry Pi 4 until now.

[2020-04-28 09:44] felix-lessoer commented on #15
Sounds like we can close that issue :)

[2020-04-29 09:18] cskowronnek commented on #15
Yes, we can. Could you please build future version also for ARM?

[2020-04-29 09:18] #15 closed

[2020-05-06 16:41] cacamille3 commented on #12
Hi,
I am from LOYTEC Electronics GmbH and responsible for the OPC UA Server on our device.
We have received the issue from our customer using MachineBeat.
I guess the issue could be solved onthe OPC UA Client side by removing the Timestamp value in the ViewDescription.

ViewDescription's timestamp (or viewVersion) value shall ONLY be present when you want to browse a precise View of an OPC UA Addr

[2020-05-18 10:53] felix-lessoer commented on #12
I was able to reproduce the issue with the OPC UA server on Loytec LGATE-902 device.
I also found a solution to solve it in the underlying library.

It will take some time to get that change into the library. For now I could send a pre-release that contains the fix. But it would be not possible to build the app on your own including that fix until it is merged into the lib.

Let me know how you wo

[2020-06-18 14:04] Mpdreamz opened #16 "make setup does not seem to work"
When it tries to run `create-metricset` it calls mage in the wrong location resulting in:

[code]

If I update the make call so that the pwd is scoped to metricbeat.

[code]

It will succeed to call `mage createMetricet` but then none of the file references seem to resolve:

[code]

`make --version`

[code]

`mage --version`

[code]

`go --version`

[code]

[2020-06-18 14:51] felix-lessoer commented on #16
I have disabled the make components in the current version as the beat framework is changing from v7.6 to v7.7.
But its enough to run "go build" if you would like to build it on your own. You can also use the prebuild binaries.
The linux is build is made for amd64

[2020-06-22 10:22] felix-lessoer commented on #16
Can you work with the pre build version?
If yes it would be nice if you could close the ticket.

[2020-06-23 08:51] felix-lessoer commented on #12
@cskowronnek I would like to close the ticket as this problem is solved now also for your OPC UA server. Are you okay with that?

[2020-06-25 06:17] MagnusArias opened #17 "Multiple endpoints - connection issues and result data errors"
I need to monitor some nodes from bunch of different endpoints. The issue arises when more than one endpoint is configured. When multiple endpoint are configured in `opcua.yml`, it is high chance to connect only to first endpoint. Also, there is no information in log file, that we are connected to another endpoint (only the first one).

Here is the `opcua.yml` config file.

[code]

Also, if those

[2020-06-29 12:49] felix-lessoer commented on #17
Hey @MagnusArias ,

I'm not sure how quick I can fix this problem. The two instances should not influence each other. But based on your data it looks like they do.
Would it be an option for you to run two separate processes of Machinebeat in the meanwhile?

[2020-06-29 12:50] #16 closed

[2020-06-29 12:50] #12 closed

[2020-06-29 14:20] MagnusArias commented on #17
Hey @felix-lessoer ,

I think this will be possible to run different instances of Machinebeat, but in the future I will need to monitor about 30+ different endpoints, gathering at least 5 nodes. The only thing I can change is period, it can be expanded to 5 seconds.

In my opinion, those 30 instances will kill my machine, where I already have a lot of other modules for ES.

[2020-06-29 15:25] bdauvissat opened #18 "Panic while starting machinebeat"
Hi !

I'm testing Machinebeat with an OPC Server emulator : [https://www.prosysopc.com/products/opc-ua-simulation-server/](url)

I just created a user "bdt" on this server.

Then, I updated the opcua.yml file with the URL, the user and the password.

Finally, I started the machinebeat.exe and had the following logs :
[code]
Can you tell me what went wrong ?

Thanks.

[2020-07-01 10:53] felix-lessoer commented on #18
It hasn't found any node to collect data from.
In the next version I will prevent it from panicking if this happens.

[2020-07-01 17:30] bdauvissat commented on #18
Hi.
Here are my conf file, a screenshot of the OPC UA Server and the log file.
I don't understand why I disabled browsing and the log says that browsing is still enabled.
Regards
[machinebeat.log](https://github.com/elastic/Machinebeat/files/4859400/machinebeat.log)
![server](https://user-images.githubusercontent.com/2834352/86273836-1dc17c80-bbd1-11ea-8505-551f6f956b3f.png)

![scr1](https://user-

[2020-07-01 18:00] felix-lessoer commented on #18
Try `browse.enabled: false`
This should disable browsing and will take the result directly from the configured node.

[2020-07-01 20:23] bdauvissat commented on #18
It works.

But why isn't the browsing mode working so I can work with several endpoints ?

[2020-07-02 06:46] felix-lessoer commented on #18
You can work with multiple nodes also without browsing. Just add another one to your config.

The browsing works for many different implementations of OPC UA servers. But we have seen that it not works for all.

To provide more details it would be good to see the debug logs.

I will also test it with your configuration when I find time.

Thanks for your contribution.

[2020-07-02 12:41] bdauvissat commented on #18
Thanks for your help.

[2020-07-17 08:44] arunnalpet opened #19 "How to build machine beat from source"
Machinebeat is failing to connect to OPCUA server. I may need to tweak TCP parameters in GO client.
Where can I find build instructions, so that I can tweak the parameters and rebuild machinebeat?

[2020-07-17 08:46] felix-lessoer commented on #19
Can you show the logs? You can tweak everything needed using the config.

[2020-07-20 08:24] arunnalpet commented on #19
Hi,
In a different experiment where i was using Free-pythonOPCUA client, I had to tweak the messagesize and set it to '65535' for establishing a successful connection. (Default was 0, i.e. No limit)

I believe Machine beat is using GO client under the hood. I was looking for similar options to tweak these connectivity parameters.
Here are the logs of machine beat.

[code]

Let me know your thought

[2020-08-10 19:34] CompsAndData opened #20 "Issue with Node Configurations in OPCUA.yml"
Hello,

I am attempting to collect data from specific nodes from a Kepware OPC server.  I have added specific tags to the node configuration section and I have tried to turn browsing off.  Attached is the opcua.yml config file and some debug info.  When I try to start machinebeat, it appears that it tries to browse anyway and other information is being sent to Elastic.

Thanks for any help!

[log.

[2020-08-11 05:59] felix-lessoer commented on #20
You need to set
`browse.enabled: false`
The other notion is not working anymore.

[2020-08-11 08:55] dongwoo-john-ku opened #21 "Regarding anonymous login issue"
Hello,

I'm writing to inquire about 'anonymous login' issue.
First of all, thank you for making machinebeat.

It looks a nice tool and I succeed to connect to the demo endpoint using your program without any problem.
 * demo endpoint: opc.tcp://opcuaserver.com:48010

However, I have a problem when I connect to my OPC UA server.
My local endpoint information like below and I checked the OPC UA ser

[2020-08-11 10:26] felix-lessoer commented on #21
Are you sure your docker endpoint is supporting anonymous login without any certificate?
Could you also send DEBUG level logs?

[2020-08-11 11:41] dongwoo-john-ku commented on #21
Hello @felix-lessoer,
Thank you for your quick reply.

Yes, the endpoint is supporting anonymous login and I could log in the endpoint via uaExpert and a Python library( without any certificate.

I made the endpoint via Prosys OPC UA Simulation Server
![image](https://user-images.githubusercontent.com/61130023/89892296-6711dc80-dc11-11ea-8224-557ffd3ca5d2.png)

Please refer the below log from exEx

[2020-08-12 11:21] CompsAndData commented on #20
Thanks so much that worked perfect!

[2020-08-12 11:21] #20 closed

[2020-08-14 13:55] elnacho-grande opened #22 "Nodes not being published"
Hello,

I started playing around with machinebeat and found this strange behaviour.

Similar to [#20](https://github.com/elastic/Machinebeat/issues/20)  I find that it does not matter if enable or disable browsing by `browse.enable: true` or `browse.enable: false` I always see browsing happening in the debug view:

[code]

Furthermore the nodes that I would like to subscribe are not visible in log

[2020-08-15 20:19] runtimevic opened #23 "linux error"
hello,
when i run machinebeat on linux:
./machinebeat -e -c machinebeat.yml
I get the following error message:
Exiting: error loading config file: config file ("machinebeat.yml") must be owned by the user identifier (uid=0) or root
best regards, Víctor.

[2020-08-15 20:58] runtimevic commented on #23
hello:
I have fix it:
chown root machinebeat.yml
but I think it would be better if you use this so that it does not happen to more people:
--strict.perms = false
thank you.

[2020-08-15 21:24] runtimevic opened #24 "error"
hello,

I get the following error:

2020-08-15T21:19:52.537Z        ERROR   pipeline/output.go:100  Failed to connect to backoff(elasticsearch(http://localhost:9200)): 401 Unauthorized: {"error":{"root_cause":[{"type":"security_exception","reason":"missing authentication credentials for REST request [/]","header":{"WWW-Authenticate":"Basic realm=\"security\" charset=\"UTF-8\""}}],"type":"security_

[2020-08-15 21:59] runtimevic commented on #24
resolved:
output.elasticsearch:
  # Array of hosts to connect to.
  hosts: ["localhost:9200"]

  # Optional protocol and basic auth credentials.
  #protocol: "https"
  username: "elastic"
  password: "changeme"

[2020-08-15 21:59] #24 closed

[2020-08-15 22:00] #23 closed

[2020-08-17 06:31] felix-lessoer commented on #22
The right value for the browse configuration is `browse.enabled` .. You didn't set the **d** at the end so it takes the defaults.

[2020-08-17 07:55] elnacho-grande commented on #22
...well this is embarrasing...it did indeed help with the browsing issue.

Unfortunatley with browsing disabled it publishes not a single event anymore not even the metadata from host.

[2020-08-17 08:14] felix-lessoer commented on #22
I guess you still see the issue `error=The server has reached the maximum number of queued publish requests. StatusBadTooManyPublishRequests (0x80780000)` ..

So your OPC UA server does not allow more subscriptions. You can increase the limit for that in your OPC UA server.
You may also want to disable subscribe using `subscribe: false` .

[2020-08-17 08:45] elnacho-grande commented on #22
with disabled browsing ```error=The server has reached the maximum number of queued publish requests. StatusBadTooManyPublishRequests (0x80780000)``` is gone as well

depending on if ```subscribe: false``` I get:

[code]

[2020-08-17 08:50] felix-lessoer commented on #22
Machinebeat is not able to see your nodes configuration. So there is an issue. This configuration file are sensitive for whitespaces..

It looks liek the copy here in the issue is missing a <blank> before `-  id: "ns=6;s=S71500ET200MP-Station_1.Z105-CPU"`
The **-** sign needs to be at the same position as the **n** of nodes

The right config would look like:
[code]

[2020-08-17 10:34] elnacho-grande commented on #22
This did the trick...thank you so much for your help :+1:

[2020-08-17 10:34] #22 closed

[2020-08-18 12:20] felix-lessoer commented on #19
I fixed the build process, so you should be able to build it on your own using the latest version in the repo.

[2020-08-18 17:48] felix-lessoer commented on #21
I was investigating into this issue today.
The problem is, that the prosys server is failing when ApplicationName is not set during the session creation.
This is the first server that acts like this.

Unfortunatly the underlying OPC UA library for that beat is also failing when I try to set the ApplicationName. So I need to fix this first to work around the issue in the prosys server.

[2020-08-20 13:15] dongwoo-john-ku commented on #21
Hello @felix-lessoer,

Thank you for your kind answer.
Please let me know when you release the updated version.

[2020-08-27 05:15] Buungi opened #25 "kepware opcua connection result inquiry."
Hello. Thank you for developing machinebeat.

I used machinebeat to connect with kepware opcua.

The connection seems to be fine,
The data to be imported is not the node value that I want.

As shown in the image id: "ns=2;s=Accura/Accura2300/Current"
I want to bring the value
Keep getting the value "opcua.node.ID i=2258".

What should I modify to get the correct value?
Please help me.

opcua.yml

[2020-08-27 06:01] felix-lessoer commented on #25
I guess `browse.enabled : false` would help.

If you send the logs I can tell you more.

[2020-08-27 06:01] #19 closed

[2020-08-27 06:04] #18 closed

[2020-08-27 06:43] Buungi commented on #25
Thanks for the answer.

I've already used that option. "browse.enabled: false"
Even if I try again, it is the same as before.

Below is the log information that I ran.
![image](https://user-images.githubusercontent.com/9245441/91400956-8fd5db00-e87b-11ea-91a5-1db0388689df.png)
![image](https://user-images.githubusercontent.com/9245441/91401230-b4ca4e00-e87b-11ea-994f-e05789224db0.png)

Thank you.

[2020-08-27 07:15] felix-lessoer commented on #25
As you can see in the logs its still browsing.
So your browse configuration is not set correctly.

Make sure that the intention is right.

[2020-09-01 01:05] Buungi commented on #25
Thank you.

That case was resolved.

browse:
  -enabled: false

This can't get the tag value

browse.enabled: false

This gets the tag value.

[2020-09-01 01:05] #25 closed

[2020-09-02 07:13] felix-lessoer commented on #21
@dongwoo-john-ku Prosys released a new version of their server yesterday. The issue that prevents connecting has been fixed now. So connection can be established with that version.

Unfortunatly it looks like this server implementation has more errors. I got invalid data when browsing. I didn't test to directly read the value from specific nodes. That may works.

But in general I would recommend u

[2020-09-29 07:36] #21 closed

[2020-10-23 19:03] felix-lessoer commented on #17
Hi @MagnusArias ,

I fixed the problem now and released a new version.
It is now possible to run independent opcua modules in the same machinebeat.

Would be nice if you could test it and provide feedback.
If everything works feel free to close the issue, pls.

[2020-10-31 19:06] #17 closed

[2020-11-16 16:02] cskowronnek opened #26 "OPCUA: No boolean values if browse options explictily set"
The default opcua.yml looks like this:
[code]
If I uncomment the browse options machinebeat still works but is not subscribing or polling data points with opcua.node.DataType "bool"

[2020-11-21 11:54] felix-lessoer commented on #26
Is the subscribe working if this is in the default configuration?
Are you sure that the bool nodes are included into the browse when you set maxLevel and maxNodePerParent?

If your answer to both is yes: Could you run debug logs and send it to me?

[2021-02-02 22:58] Glagnar opened #27 "Documentation link not valid"
I am looking at the mqtt.yml.disabled file and the link:
https://www.elastic.co/guide/en/beats/machinebeat/machinebeat-module-mqtt.html

Does not work.

[2021-02-04 13:38] felix-lessoer commented on #27
Thanks @Glagnar . You are right.
Machinebeat is still in experimental state and has no dedicated documenation.

However the MQTT part has already been migrated into the official beats suite.
You can find it here: https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-mqtt.html

[2021-03-11 14:55] markusTh83 opened #28 "publishing 0 new events"
Hi Felix,

I discovered a problem with the machinebeat, when I set the period quite low (less than 500ms).
When I'm setting the period to 500ms machinebeat works stable and publishes only a few 0 events.
When I'm setting the period to 100ms machinebeat throws (quite regularly) a too much zero publish attempts error and waits for reconnection.
[code]

The configuration file looks like
[code]

[2021-03-11 17:01] felix-lessoer commented on #28
You are working in subscribe mode. That means that the beat is collecting ALL events WITHIN the period. If you reducing the period this will only effect how often the events get send to Elasticsearch.

If you are looking to get one value per node everytime the period ends.. then you need to deactivate subscribe mode.

[2021-03-11 19:10] markusTh83 commented on #28
Thank you, overseen that....
now it works as a charm!

[2021-03-11 20:10] markusTh83 opened #29 "send data to elastic index"
Hi Felix,

one more problem on my side:
I'm not able to write the collected data to an index differing from machinebeat-*

I've tried:
[code]
with a created index mapping:

[code]
and also with the standard setting of
[code]

my output setting is
[code]
What am I doing wrong?

Thank you :D

[2021-03-12 08:09] #28 closed

[2021-03-26 12:59] #26 closed

[2021-03-26 13:00] #27 closed

[2021-03-26 13:02] felix-lessoer commented on #29
Hi @markusTh83 .. Sorry for the late reply. Lost to track it over the weekend and then it got lost.
You need to change the ILM settings like described here: https://www.elastic.co/guide/en/beats/metricbeat/current/ilm.html
If you don't like you need to disable ILM. The index configuration will only be taken if ILM is disabled.

[2021-04-09 15:00] Amalokch opened #30 "Noob question: What to do after MQTT reaches Elasticsearch?"
Hello there, first, many thanks for this beat it had helped me to retrieve data from my sensors :-). Problem is that I am pretty new in Elasticsearch and really don't know too much about it, I come from an industrial programming, PLC, SCADA programming, etc.
If I go to analytics -> discovery I can actually see the data. My problem is that it arrives in string format, therefore in Kibana I cannot g

[2021-04-12 07:57] felix-lessoer commented on #30
Hello @Amalokch
great to hear that you like the beat.

Do you collect the data with MQTT or with OPC UA? Could you also share an example of what you see in Discover? It looks very different per sensor. So its easier to help you knowing the format.

[2021-04-12 07:57] felix-lessoer commented on #29
Let me know if you need more help, otherwise close the issue, pls.

[2021-04-12 09:35] Amalokch commented on #30
Hello Felix,
Many thanks for your replied. I am collecting the data using the MQTT featur.
I eventually sorted it out. I ended up using a 'processors' to convert the data from string to float, see below a snapshot of my .yml file:

![111111111111111](https://user-images.githubusercontent.com/69423323/114363742-03adc500-9b79-11eb-82f8-e20f9efb4dd2.PNG)

Now a snapshot of the Discovery with and with

[2021-04-12 09:41] markusTh83 commented on #29
Hi @felix-lessoer, I've disabled ILM, writing the data to a custom index, and using the elastic ILM on the custom index.
Thank you, it worked :)

[2021-04-12 09:41] #29 closed

[2021-04-13 11:51] felix-lessoer commented on #30
Before I answer your questions I would like to guide you to the official MQTT module of Elastic. Machinebeat was the base for this development: If you would like to get support for your MQTT data collection from Elastic you should use this one: https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-mqtt.html

Now let me answer your questions:
1.) Yes there are multiple ways to do so

[2021-04-13 19:11] Amalokch commented on #30
Thanks Felix!

[2021-04-13 19:11] #30 closed

[2021-06-23 17:29] Valdos116 opened #31 "Windows version of machinebeat has a malicious file"
The windows version of the machinebeat has a malicious file flagged by Jiangmin scanner software. Please note that two other sites came up with the same result as well.

A new compiled version is required in order to use machinebeat.

[2021-06-24 08:09] felix-lessoer commented on #31
I've updated the dependencies and released a new version based on the latest beats framework.
Now virustotal is not showing a malicious file.

[2021-06-24 12:34] Valdos116 commented on #31
@Felix-lessoer, can you point me to the link to download the new version?

[2021-06-24 12:50] felix-lessoer commented on #31
Sure. You can use the "release" section in github: https://github.com/elastic/Machinebeat/releases/tag/v7.13.2
Or you can download it from the fileserver: https://ela.st/machinebeat-windows

[2021-06-24 13:03] Valdos116 commented on #31
Thank you so much. I'm pretty new to Elastic.I wanted to use machinebeat to collect data from industrial machinery with data communications protocol like : opc,mqtt,modbus,bacnet etc..I'm using puTTy interface to set up these drivers to collect data from theses PLC-based devices.
-Do you have a PuTTy set of command list(documentation) to accomplish this?
-Do you think a filebeat should be enough t

[2021-06-24 13:14] felix-lessoer commented on #31
This beat so far only collects via MQTT and OPC UA. These two reflecting the most common use cases. Which one to use depends on the machine you want to get data from.
To get data via modbus or bacnet you need an interface, e.g. https://www.cybus.io/en/ . They can collect data using many different protocols and translate it into MQTT messages which we can collect.

The beat usually listening to a s

[2021-06-24 13:18] Valdos116 commented on #31
Thanks.
Yes you can close this issue!

[2021-06-24 13:18] #31 closed

[2021-07-02 15:23] Valdos116 opened #32 "Ingest data via Modbus and BACnet communication protocols to Elastic"
Hello Team,

Trying to ingest data from Modbus TCP and BACnet IP devices into Logstash. Seems like there is no driver so far to accomplish this since machinebeat only communicates over OPC UA.

Any help would be appreciated

Thanks

[2021-07-02 16:15] felix-lessoer commented on #32
You need to use some kind of interface software to get this done..
A good one is https://www.cybus.io/en/

Googeling for modbus to mqtt or opcua will you show more results

[2021-07-02 17:17] Valdos116 commented on #32
Thanks! Is this cybus interface software easily integrable with Elastic?

[2021-07-02 17:32] felix-lessoer commented on #32
Yes, they have an easy to use elastic integration translating all their industry protocols into MQTT. The MQTT data gets collected from Filebeat MQTT input.
We just made a webinar together with them to show the value. This are all the protocols they support https://docs.cybus.io/docs/1.0.46/user/protocols/index.html

[2021-07-09 10:09] chauhan-a opened #33 "Linux machinebeat file not working"
I am able to start the machinebeat in windows but linux one is not working

[2021-07-09 10:33] chauhan-a commented on #33
Apologies for the inconvenience, just realised that script executable permissions where not there

[2021-07-09 10:33] #33 closed

[2021-07-13 08:08] #32 closed

[2021-07-13 14:38] Valdos116 commented on #32
Hello Guys,
Machinebeat communication lost due to power outage. Trying to restart it but for some reasons it won't make a connection and it's reporting nothing in the log file. Do you know how to get the response code from machinebeat when the connection failed?

[2021-07-13 15:59] felix-lessoer commented on #32
Can you create a new issue and add logs pls? You could also enable debug logs. That will add more information of connection is failing.

[2021-07-13 17:03] Valdos116 commented on #32
Never mind . The issue is solved.Thanks

[2021-07-13 17:07] Valdos116 opened #34 "Using Putty Terminal to install Machinebeat and collect data over OPC/MQTT into Logstach"
I just started exploring elastic search and was trying to install machinebeat Linus/windows version via putty. Are there any documentation on how to proceed (steps) and set of line commands to accomplish this?

Thanks

[2021-07-13 20:31] felix-lessoer commented on #34
Describe your current Situation and target pls.
There no other documentation than what you can find in this GitHub repo.

[2021-07-15 08:29] totoroot opened #35 "Apache Kafka Output possible?"
The README mentions that Apache Kafka can be used to process the message queue instead of connecting directly to an Elasticsearch or Logstash instance. Now how would one go about configuring a Kafka output? The machinebeat.yml configuration file has entries for the Elasticsearch and Logstash outputs but none for Kafka.

I've successfully configured the OPC input module but how would one go about c

[2021-07-15 09:10] felix-lessoer commented on #35
Thanks for testing Machinebeat. We didn't release any official documentation so far. The link is auto generated and never led to any documentation.
The Machinebeat is more or less a copy of Metricbeat just with the Industry related protocols to get data from.
So the documentation from Metricbeat for everything that does not belong to data collection modules should be the same.

Saying that.. also

[2021-07-20 01:57] rohyoungsu opened #36 "security configuration with Aspentech IP21"
I am trying to connect to Aspentech IP21 OPC UA server.
They sent certificate file as "xxxx.der". but I don't know how to use it in machinebeat.
Can i get some guide about it?

[2021-07-20 05:14] rohyoungsu commented on #36
IP21 guy said it is a kind of certificate file which is used in windows system to verify trust computer.
and I set this certificate as below but, it didn't work well.

- module: opcua
  metricsets: ["nodevalue"]
  enabled: true
  period: 1s

  endpoint: "opc.tcp://192.168.10.134:63500/InfoPlus21/OpcUa/Server"

  username: "skynet.help\rtdbapp"
  password: "passw0rd"

  securityMode: "SignAndEncryp

[2021-07-20 06:15] felix-lessoer commented on #36
Be careful sharing your endpoint + credentials, pls. This repo is public.

I think you need to transform the file into the expected format. I can give you a hint later today.

[2021-07-20 09:05] rohyoungsu commented on #36
unfortunately, I can't attach file because of security system in my company.
I have converted .der file into .pem with openssl and tried again. but it was failed.
if you have any idea to trasform certificate file please let me know.

[2021-07-20 11:49] felix-lessoer commented on #36
For PEM files you need to set `clientCert `and `clientKey `.. Did you configured both files?
Also its important to set the `appName`. Do make your certs valid the `appName `configuration needs to be available within your certificate as SAN URL and DNS-Name

You can have a look into your .der file by double clicking on it:
![image](https://user-images.githubusercontent.com/35069463/126318814-5cc453

[2021-07-21 00:18] rohyoungsu commented on #36
I did set one pem file to both clientCert and clientKey and I find out DNS-Nama as "C03VP-RTDB-DB1" and I did set appName as "C03VP-RTDB-DB1" and try again and machinebeat showed me as "opcua: Failed to decode PEM block with private key"

[2021-07-21 00:58] rohyoungsu commented on #36
![20210721_095223](https://user-images.githubusercontent.com/87681483/126413749-158e4b62-0c9b-4810-afbb-a80d3480badb.jpg)
It is my pem and when I convert der to pem it generate just one pem file

[2021-07-21 05:40] rohyoungsu commented on #36
I  request a private key file to AspenTech guy. I will let you know test result after get the private key file from AspenTech.
Thank you very much

[2021-07-22 02:59] rohyoungsu commented on #36
AspenTech reject my request. So I will find out other way to collect data from AspenTech IP21.
Anyway, I have to say I am sorry because first time I didn't expect your response on time.
And thank you very much.

[2021-07-22 02:59] #36 closed

[2021-08-04 12:27] robbertvanhove opened #37 "Future support/logstash alternative"
Hello

As said in the first lines of the README, Machinebeat is experimental & not recommended to use in production. But my client would like to get the data from their OPC UA server into ElasticSearch.

As an alternative, I was thinking about using Logstash to read directly from the OPC UA server. Is this possible via some kind of logstash plugin? How is this done in other applications that use O

[2021-08-04 12:34] felix-lessoer commented on #37
Hello

there is no plugin for Logstash that can handle OPC UA.
However there are many users that collect their OPC UA data using Machinebeat even in production. The disclaimer is there to make you aware that this is not supported by Elastic Support contracts and if something breaks that only myself can help you.. But it is the easiest way to get OPC UA data into Elasticsearch.
Its your decision to

[2021-08-13 16:35] felix-lessoer commented on #37
@robbertvanhove is it okay to close the issue?

[2021-08-13 16:35] felix-lessoer commented on #35
@totoroot is it okay to close the issue?

[2021-08-13 16:35] #34 closed

[2021-08-13 17:06] robbertvanhove commented on #37
@felix-lessoer yes! Thx your answer was straight to the point.

[2021-08-13 17:19] #37 closed

[2021-08-18 11:21] robbertvanhove opened #38 "OPC-UA: Crash after certain amount of time 'panic: close of closed channel'"
After a certain amount of time without a value change on the subscribed tag, the following happens:

Machinebeat output:
[code]

opcua.yml:
[code]

Am I doing something wrong?

[2021-08-23 11:52] totoroot commented on #35
@felix-lessoer I haven't yet been able to test it thoroughly, but it seems to work. If any other problems turn up, I will open another issue. Thanks for your response!!

[2021-08-23 11:52] #35 closed

[2021-08-27 14:13] Valdos116 opened #39 "How to run machinebeat as service"
Guys,
I have machinebeat set up and up and running. The only problem is that it's tied to the user logins. My question is how to run it as a service?

Thanks,

[2021-08-31 11:11] cskowronnek commented on #39
My /etc/systemd/system/machinebeat.service

[code]

[2021-08-31 17:04] Valdos116 commented on #39
Thanks for the answer. Can't locate machinebeat.service in my system directory.Here is in that directory

drwxr-xr-x. 2 root root   31 May 13  2020 basic.target.wants
drwxr-xr-x. 2 root root   31 May 13  2020 bluetooth.target.wants
lrwxrwxrwx. 1 root root   41 May 13  2020 dbus-org.bluez.service -> /usr/lib/systemd/system/bluetooth.service
lrwxrwxrwx. 1 root root   41 May 13  2020 dbus-org.fedorap

[2021-09-01 07:51] felix-lessoer commented on #39
Thanks @cskowronnek for sending the file.

@Valdos116 : You need to create the file yourself. After doing that you should be able to start the service using e.g. `systemctl start machinebeat`

[2021-09-01 08:20] cskowronnek commented on #39
And you can enable autostart at system stat with:

systemctl enable machinebeat

[2021-09-01 14:22] Valdos116 commented on #39
Thanks @felix-lessoer and @cskowronnek
I've created machinebeat.service file in /etc/systemd/system.I copied and pasted the file that @cskowronnek posted above.
When I run machinebeat.service with "systemctl start machinebeat", I received the following error "_Failed to start machinebeat.service: Unit machinebeat.service has a bad unit file setting"._And when I checked its status I got the logs:

[2021-09-02 16:44] Valdos116 commented on #39
Thanks @cskowronnek  and @felix-lessoer

[2021-09-14 21:21] Valdos116 opened #40 "MQTT Broker to run with Machinebeat"
I'm trying to configure MQTT to acquire data from a field device. I will be using machinebeat for it. Reading the guide for configuration, It's required to use MQTT broker.

Any recommendations?

Thanks

[2021-09-15 08:07] felix-lessoer commented on #40
I usually use [mosquitto](https://mosquitto.org/) .
But any Broker should do it. It also works with any IoT Hub / Core of the big cloud vendors.

Feel free to choose what you like.

[2021-10-28 12:42] #39 closed, assigned to nobody

[2022-01-24 01:14] pankaj-k opened #41 "log4j vulnerability clarifications"
Hi,

I am not sure if this is right way of getting this information.
But is this component affected by log4j vulnerability? And if so will you be making a release just to patch up the issue?

Regards
PK

[2022-01-27 13:03] felix-lessoer commented on #41
elastic is taking care of the log4j vulnerability in all components.
I will update to the latest beats framework to make sure to include all changes that have happened in regards to that.

[2022-01-27 14:04] magiconair commented on #38
We've fixed a number of issues especially in the 0.2.x codebase so I suggest to upgrade to v0.3.1 which I'm about to release. v0.2.0-rc1 has a lot of issues.

[2022-01-27 14:15] felix-lessoer commented on #38
Thanks @magiconair . I will do that for the next version of the beat.

[2022-02-09 02:45] ismyhairnice opened #42 "Panic: runtime error: index out of range [33] with length 20"
Hi all

Machinebeat encounter panic runtime error when i let it run for several hours. Below is the error message:

[code]
May I know what is causing this error?

[2022-02-09 09:05] felix-lessoer commented on #38
Upgraded to latest version of gopcua. This will most likely fix this issue. @robbertvanhove Can you confirm?

[2022-02-09 09:06] felix-lessoer commented on #41
Upgraded to the latest version of all dependencies.
If it was vulnerable this should be fixed now.

[2022-02-09 09:06] #41 closed

[2022-02-09 09:09] felix-lessoer commented on #42
This can happen if the subscription gets canceled from the server without notifying the client.
I've upgraded the client now. This includes improved handling of subscriptions.

Can you confirm that the latest version is fixing this issue for you?

[2022-02-10 01:34] ismyhairnice commented on #42
Hi Felix

I let the machinebeat ran for past 12 hours and seems that there is no crashes.

Thanks!

[2022-02-14 01:58] ismyhairnice commented on #42
Hi there

It seems that after a while, the panic happens again

2022-02-10T23:43:01.509+0800	INFO	nodevalue/nodevalue.go:208	[OPCUA] Too much zero publish attempts.
panic: close of closed channel

Is there anything need to be done on my side?

[2022-02-14 07:12] felix-lessoer commented on #42
Can you share a bit more of the logs?
the zero publish event trigger occurs when there was no data for quite some time.
This can happen if the subscription got closed from server side.
If that happens the beat should reconnect. Thats what I would expect to happen after the handled panic above.

[2022-02-15 02:23] ismyhairnice commented on #42
I found out that the panic: close of closed channel error is due to the server side application went offline. The beat didn't seems to restart after that:

panic: close of closed channel

goroutine 27123 [running]:
github.com/gopcua/opcua/uasc.(*SecureChannel).Close.func1(0xc0002881c0)
	C:/Users/FelixRoessel/Documents/Projekte/Machinebeat/pkg/mod/github.com/gopcua/opcua@v0.2.0-rc1/uasc/secure_chan

[2022-02-16 09:08] felix-lessoer commented on #42
For an complete check whats happening you sended not enough of the logs. This is just info about the framework not about the code that is triggering the framework.
However I can see that the version you are using is still using the old version of the framework. The newer version should be able to handle those failure states much better.
I've just uploaded a new build of the same version for the be

[2022-02-21 08:54] mateoricfarm opened #43 "[Question] Support "Word" data type"
Dear Contributor,

Thanks for your work.
I could integrate my OPC UA Server into ELK stack.
But, I figured out that only Bool data type can be added automatically.

[code]

ns=4;i=28 NodeID is WORD type variabls.
Could you anyone help me to add node regarding of "WORD" type?
Here's OPC UA configuration applied.

[code]

Thanks in advance.

[2022-02-21 09:21] felix-lessoer commented on #43
Hi @softflowinc

this are the supported DataTypes. So String (word) should be loaded.
![image](https://user-images.githubusercontent.com/35069463/154925343-c5e5ed4e-8478-41c6-9541-bb73e98764aa.png)

Can you run in with log level debug and send the logs again? I may be able to see more then.

[2022-02-21 09:50] softflowinc commented on #43
Hi @felix-lessoer

Thanks for the reply.

I've added option in "machine.yaml"
[code]

and, I've got result like below.
[code]

What I am trying to add is "WORD" data type literally.
![image](https://user-images.githubusercontent.com/48432961/154930211-b07903f3-0268-48af-8a47-7864c1bfd709.png)

[2022-02-21 09:50] softflowinc commented on #43
Hi @felix-lessoer

Thanks for the reply.

I've added option in "machine.yaml"
[code]

and, I've got result like below.
[code]

What I am trying to add is "WORD" data type literally.
![image](https://user-images.githubusercontent.com/48432961/154930211-b07903f3-0268-48af-8a47-7864c1bfd709.png)

[2022-02-21 10:27] felix-lessoer commented on #43
It didn't took the debug level for the logs. Its still on info. The configuration seems to be fine..
But the right file would be `machinebeat.yml` instead of `machine.yaml` .

Can you check?

[2022-02-21 10:54] mateoricfarm commented on #43
![image](https://user-images.githubusercontent.com/48432961/154940878-e7a0282d-97ca-495d-ae4e-32819f876d1c.png)

I debugged it and figured out that variable "v" is "0xbba" which is not in the switch~case statement.
I don't know what "0xbba" means, but "getDataType" func looks like refrenced code by "gopuca"
I'll look through the "gopcua" project.

Sincerely,

[2022-02-21 11:07] #43 closed

[2022-02-21 11:10] felix-lessoer commented on #43
Did you found the issue?

Otherwise you could add **vvv** to the default of switch case
`def.DataType = attrs[4].Value.NodeID().String()`

[2022-02-21 11:12] mateoricfarm commented on #43
@felix-lessoer,

Yes, I'll give it a try exactly as you mentioned.

[2022-02-21 12:51] felix-lessoer commented on #43
Would be great to know if it works like this.
If yes I will add the change to the main version

[2022-02-21 23:53] mateoricfarm commented on #43
![image](https://user-images.githubusercontent.com/48432961/155039683-b29917b6-20a2-4c25-8f1b-afe53fd57482.png)

I was able to add node where there is non-default datatype by adding code below like you mentioned.
[code]

Thank you again.

[2022-02-22 00:57] pankaj-k opened #44 "Machinebeat logs having statement: "is something else entirely""
Hi,
I am reading this data off Kepware.
When I run the machinebeat (I have not yet configured a elasticsearch details into the machinebeat.yml) to see if it is able to read data in the first place. I see this:

2022-02-22T11:08:53.965+1100    INFO    nodevalue/nodevalue.go:217      [OPCUA] Publishing 15 new events
21.30145263671875 is something else entirely
25 is something else entirely
21.401550

[2022-02-22 08:39] felix-lessoer commented on #44
Hi @pankaj-k

this is an additional check for some very specific data types. Looks like I didn't made this a debug message.
You can safely ignore it. Will be removed for the next version.

Thanks for using Machinebeat

[2022-02-22 08:39] #38 closed

[2022-02-22 08:40] #42 closed

[2022-02-22 11:48] pankaj-k commented on #44
Hi Felix,

Thanks for the prompt response. Is it possible to get an approximate time for the release of the next version?

Regards
Pankaj K

[2022-02-22 13:21] felix-lessoer commented on #44
Can do it anytime. Only takes a few minutes

[2022-02-22 22:42] pankaj-k commented on #44
Hi Felix,

Can I request you to do a release as I am planning to use it one of the systems we are developing.

Regards
Pankaj K

[2022-02-23 07:51] felix-lessoer commented on #44
Done

[2022-02-23 07:51] #44 closed

[2022-02-23 12:39] pankaj-k opened #45 "sensor.label and sensor.name having same value in Kibana"
Hi,

I am not sure if this is expected but since there is an option of providing the label value in the opcua.yml I thought that label should be configurable by the user. Or it might be that I am looking at wrong field in Kibana.

Here is the opcua.yml:

[code]
There are many tags (in Kepware speak) or variables or nodes (I am a newbie not familiar with OPC UA language) under both Asset1.Block.Ove

[2022-02-23 13:05] felix-lessoer commented on #45
The labels will be used if you disable browsing.
Whenever you browse the beat takes the node name as label for the node. There is no hand over from higher hierarchy levels into the lower ones.

So what you can do is:
1.) Adding the nodes (lowest child) and defining the labels manually in the node list.
2.) Use another field that knows the parent
2b) Use that field to override the value in the way

[2022-02-23 20:25] pankaj-k commented on #45
Ah I got it.
No worries. I am getting
sensor.id : ns=2;s=Asset1.Block.Oven.TC1
which I can split to get the value "Oven" to overwrite into the sensor.label field.

Maybe it can be a nifty feature to be implemented in the next release provided it does not fall foul of the OPC UA protocol. However I am already seeing edge cases where the nesting is more than one level deep.

Thanks again for prompt

[2022-04-08 14:49] BigeYoung opened #46 "Failed to connect to backoff: Get EOF"
machinebeat is running on **my computer**
- IP: 192.168.137.120
- OS: Windows11 21H2

I am sure that I can connect to the server from **my computer**: I use [Elasticvue](https://microsoftedge.microsoft.com/addons/detail/geifniocjfnfilcbeloeidajlfmhdlgo) and it works well.

I also checked with `curl`:

[code]

I even have turned off all firewalls on **server** and **my computer**.

machinebeat conf

[2022-04-08 15:08] BigeYoung commented on #46
Surprisingly, I used the exact same configuration on the same computer with Windows Subsystem Linux (copy and paste, absolutely identical!) Running machinebeat, it actually works!!!

[2022-04-08 17:28] felix-lessoer commented on #46
Thats looks really strange.
The connection to elasticsearch is used from the beat library and is used the same way in all the other beats.
All references I found for this issue appear to connect to the wrong endpoint.
In your case everything looks ok.

Can I close the issue for you?

[2022-04-08 17:41] BigeYoung commented on #46
If this question is of no value to this repository, please close it.
But I can also provide more information, including video, if you ask.

[2022-04-08 19:00] felix-lessoer commented on #46
Well its nothing Machinebeat can change.

I would recommend asking in https://discuss.elastic.co/

[2022-04-08 19:00] #46 closed

[2022-07-26 02:38] pratheekreddy commented on #4
once we configure TLS/SSL in mqtt config, can we test it with MQTT lens?

[2022-08-15 09:28] #45 closed